<table class='table table-striped'>
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </thead>
  <tbody class="table-group-divider">
  <% patient_data.forEach(function(element, index) { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= element.name %></td>
      <td><%= element.age %></td>
      <td><%= element.gender %></td>
    </tr>
  <% }); %>
  </tbody>
</table>